body{
	background-color: green;
	height: 700px;
	width: 100%;
	background-image:url('Kenya_Airways_Boeing_737-800_5Y-KYA_JNB_Jan_2007-2.png');
}
.head{
	height: 60px;
	width:100%;
	background-color:cyan;

}
#h1{
	border-radius: 500px 500px 500px 500px;
	background: orange;
	padding: 20px;
	width: 40%;
	height: 30px;
	margin: 0 auto;
	display: block;
}
h1:hover{
	background-color: orange;
	border-radius:50px 50px 50px 50px;
}
.nav{
	height: 42px;
	width:80%;
	background-color:orange;
	margin: 0 auto;
	border-radius: 10px 10px 10px 10px;
	float: centre;

}
input[type=button]{
color:black;
background-color:red;
border-radius:5px;
display:inline-block;
text-decoration:none;
padding:5px 15px;
}
.body{
	height: 520px;
	width:100%;
	background-color:transparent;
	float:centre;

}
.foot{
	height: 40px;
	width:100%;
	background-color:blue;

}.s {
	font-family: Verdana, Geneva, sans-serif;

}
.f {
	font-family: Verdana, Geneva, sans-serif;
}
.fieldeset{
	border-radius:15spx 10px 10px 10px;
	margin-left:2px;
	margin-right:2px;
	padding-top:0.35em;
	padding-bottom:0.625em;
	padding-left:0.75em;
	padding-right :0.75em;
	border: 3px solid black;
}
input[type=text]{
color:black;
background-color:white;
border-radius:5px;
display:inline-block;
text-decoration:none;
padding:5px;
}
.re{
	float:right;
}